body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;   
}

.page{
    width: 100%;
    height: 100vh;
}

.hero-container{
    height: 85%;
    background-image: url("./images/hero.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    color: white;
    font-weight: 500;
}

.logo-container{
    width: 20%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px;
}

.logo-container > img{
    width: 30% ;
    height: auto;
    margin-right: 20px;
}

.logo-title{
    font-size: large;
    font-weight: 600;
}

.nav-bar{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:small;
    font-weight: 400;
}


.nav-container{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-bar > div:hover{
    border-bottom: 2px rgba(6, 159, 241, 0.766) solid;

}

.heading-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size:45px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.heading-main{
    font-size: 55px;
    font-weight:900;

}

.search-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.search-container{
    width: 1000px;
    height: 100px;
    background-color:beige;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translate(0px, -50px);
}

#place, #travel-style, #period{
    width: 180px;
    height: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:rgba(178, 172, 172, 0.755);
    margin: 0px;
    border-radius: 5px;
}

#place{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

#travel-style, #period{
    border-radius: 0px;
}

.search-btn{
    background-color:rgb(50, 134, 180);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    /* margin: 5px; */
    color: white;
    border-width: 0;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

button > img{
    height: 15px;
    margin-left: 5px;
}

button:hover{
    background-color: rgb(3, 53, 79);
    color: white;
}


.trips-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-container{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.about-us-wrapper, .about-image{
    width: 50%;
    height: 100%;
}

.about-us-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.about-us{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.heading{
    font-size:xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}
.subheading{
    font-size: large;
    width: 70%;
    height: auto;
    font-weight: 500;
    margin-bottom: 20px;
}

.text{
    width: 80%;
    height: fit-content;
    font-weight: 300;
    font-size: small;
    margin-bottom: 20px;
}


.read-more-container{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.read-more-container > img{
    width: 10% !important;
}

.read-more-text{
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;

}

.about-image-container{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.about-image-wrapper{
    width: 100%;
    height: 80%;
    position: relative;
}

.stupa-container{
    width: 70%;
    height: 90%;
    background-image: url("./images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}


.everest-container{
    position: absolute;
    top: 0;
    right: 18%;
    height: 25%;
    width: 40%;
    background-image: url("./images/everest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;   
    border-radius: 5px; 
}

.services-container{
    width: inherit;
    height: 60%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.touch-container{
    width: inherit;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: beige;
}

.touch-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;

}

.touch-text{
    flex:45%;
}

.touch-form{
    flex:55%;
    justify-content: flex-end;
}

#email{
    height: 26px;
    width: 300px;
    border-radius: 5px;
    border-width: 0.6px;
    padding-left: 20px;
    margin-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.services-wrapper{
    width: 85%;
    display: flex;
    flex-direction: column;
}

.service-items-wrapper{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    
}

.service-image-container{
    width: 100%; 
    height: 80%;
    display: flex;
    justify-content: center;
}

.service-image-container > img{
    width: 70%;
    height: 70%;
    opacity: 0.8;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-top-wrapper{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-wrapper{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.footer{
    width: 90%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.top-footer, .bottom-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.top-footer{
    border-bottom: 1px black solid;
}
.logo-footer{
    width: 35%;
    height: 90%;
    display: flex;
    align-items: center;
}

.logo-footer > img{
    width: 15%;
}

.footer-subheading{
    font-size: large;
    width: 70%;
    height: auto;
    font-weight: 500;
    margin-left: 10px;
}

.nav-footer{
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright-footer{
    width: 40%;
}

.policy-footer{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.contact-container, .contact-image-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image-container > img{
    width: 70%;
    height: 80%;
    border-radius: 8px;
}

.contact-wrapper{
    margin-left: 70px;
}

.contact-btn{
    background-color:rgb(50, 134, 180);
    width: 100px;
    height: 30px;
    /* margin: 5px; */
    color: white;
    border-width: 0;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#phone{
    height: 26px;
    width: 180px;
    border-radius: 5px;
    border-width: 0.6px;
    padding-left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.contact-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-details-container{
    margin-top: 25px;

}

.contact-detail-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.contact-detail-item > img{
    width: 3%;
    margin-right:10px;

}

.trip-container{
    width: 100%;
    height: 70%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;*/
    margin-top: 30px;
} 

.trip-nav-bar{   
    width: 60%;
    display: flex;
    flex-direction: row;
    font-size:small;
    font-weight: 400;
    margin-top: 50px;
}

.first-trip-nav-item, .trip-nav-item{
    padding-right: 8%;
}

.trip-nav-item, .last-trip-nav-item{
    padding-left: 3%;
}

.first-trip-nav-item, .trip-nav-item, .last-trip-nav-item{
    border-bottom: 2px solid;
    border-color: rgba(158, 154, 154, 0.74);
}

.first-trip-nav-item:hover, .trip-nav-item:hover, .last-trip-nav-item:hover{
    border-color: rgb(0, 138, 213);
}

.trip-item-wrapper{
    height: 428px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 10px 5px 30px rgb(197, 196, 196); */
    position: relative;
    background-color: beige;
    /* border-radius: 8px 8px 0 0; */
}

.trip-item-wrapper > img{
    height: 55%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.trip-cost{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    transform: translate(15px, 15px);
}

.trip-days{
    margin-right: 10px;
}

.trip-days, .trip-price{
    font-size: 12px;
    border-radius: 20px;
    background-color: azure;
    padding: 2px 10px;
}

.trip-text-container{
    padding: 10px 0 0 10px;
}

.page-wrapper{
    width: 85%;
    height: 90%;
}

#trip-subheading{
    width:fit-content;
}

.fifth-wrapper{
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

#gallery-heading{ 
    height: 10%;
}

#gallery-subheading{
    height: 8%;
}

.slideshow-wrapper{
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slideshow-container{
    height: 100%;
    width: 85%;
    position: relative;
    box-sizing: border-box;
}

.slideshow-item{
    width: 100%;
    height: 100%;
    display: none;
   
}

.slideshow-item> img{
    width: 100%;
    height: 92%;
    border-radius: 8px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.image-text {
    color: black;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.dot-container{
    text-align: center;
    height: 5%;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    font-size: 50px !important;
  }

  .owl-carousel button.owl-dot{
    border-radius: 50%;
    border: 1px solid black !important;
    margin: 10px;
  }

  .owl-nav, .owl-dots{
    text-align: center;
    height: 50px;
  }

